app-word {
  display: inline-block;
  margin-right: 1.3em;
}

.verse-bg {
  border-width: 1px 0;
  border-color: #d7d7d7;
  border-style: solid;
}

.trad-bg {
  background-color: #f7ffe9;

  .num-verse {
    font-weight: bold;
    font-size: 1em;
    display: inline-block;
    margin-right: 7px;
  }

  .full-verse {
    margin: 8px 0 0 15px;
    font-size: 1.1em;
    color: #0d4246;
  }
  
}

.greek-bg {
  border-left: 5px solid #aae63e;

  .num-verse {
    margin-right: .4em;
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
  }

  .num-verse-adv {
    transform: translateY(-63px);
  }

  .num-verse-basic {
    transform: translateY(-38px);
  }
}

.detail-bg {

  position: relative;

  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    height: 19px;
    width: 19px;
    line-height: 6px;
    padding: 0;
  }

  .word-detail {

    margin: 5px 0;

    .greek-detail, .literal-detail, .mor-detail, .str-detail, .fonetica-detail {
      font-weight: 500;
      font-size: 1em;
    }

    .btn-speaker {
      border: none;
    }

    .greek-word, .literal-word, .mor-word, .str-word, .fonetica-word {
      font-size: 1.1em;
      font-weight: 200;
      color: #5f49cc;
    }

    .fonetica-word-desc {
      font-size: .9em;
      font-weight: 100;
      color: #999;
      margin-left: 2px;
    }

    .greek-word {
      font-family: none;
    }
   
    .mor-description {
      display: inline-block;
      padding-left: 13px;
      font-size: .9em;
      font-weight: 300;
    }
    .greek-word {
      font-size: 1.6em;
    }

    .str-word {
      display: inline-block;
      margin-left: 4px;
    }

    .sub-title-details {
      font-size: 1em;
      font-weight: 300;
      color: #5f49cc;
      // padding-left: 13px;
    }

    .list-of-lexicons {
      // list-style-position: inside;
      padding-left: 30px;
    }
  }
  
}

.highlight-word {
  -webkit-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.75);
}