<div class="container-fluid">
  <div class="row verse-bg">
    <div *ngIf="wordDetails" class="col-2 detail-bg">
        <button (click)="closeWordDetails()" class="btn btn-outline-dark close-btn">X</button>
        <div class="word-detail">
            <span class="greek-detail">Griego:</span>
            <br>
            <span class="greek-word">{{wordDetails.word}}</span>
        </div>
        <div class="word-detail">
            <span class="literal-detail">Literal:</span>
            <br>
            <span class="literal-word">{{wordDetails.esp}}</span>
        </div>
        <div class="word-detail">
            <span class="mor-detail">Morfología:</span>
            <br>
            <span class="mor-word">{{wordDetails.mor}}</span>
            <br>
            <span class="mor-description">{{wordDetails.mordesc}}</span>
        </div>
        <div class="word-detail">
            <span class="str-detail">Strong:</span>
            <div class="sub-title-details">Ver más info de {{wordDetails.str}}:</div>
            <ul class="list-of-lexicons">
              <li><a target="_blank" href="https://logosklogos.com/strongcodes/{{getStrongCode(wordDetails.str)}}">LogosKLogos</a></li>
              <li><a target="_blank" href="https://bibliaparalela.com/greek/{{getStrongCode(wordDetails.str)}}.htm">Biblia Paralela</a></li>
              <li><a target="_blank" href="https://www.blueletterbible.org/lang/lexicon/lexicon.cfm?t=kjv&strongs=g{{getStrongCode(wordDetails.str)}}">Blue Letter Bible</a></li>
              <li><a target="_blank" href="https://www.studylight.org/lexicons/greek/{{getStrongCode(wordDetails.str)}}.html">Study Light</a></li>
            </ul>
        </div>
    </div>
    
    <div class="col greek-bg">
      <span class="num-verse">{{verse.verse}}</span> <app-word [ngClass]="{'highlight-word': word.highlight}" *ngFor="let word of words" [word]="word" (click)="showWordDetails(word)"></app-word>
    </div>

    <div class="col-3 trad-bg">
      <div class="full-verse"><span class="num-verse">{{verse.verse}}</span>{{parseFullVerse(verse.full)}}</div>
    </div>
  </div>
</div>