.num-verse {
  margin-right: .2em;
  font-weight: bold;
  font-size: 1.3em;
}
app-word {
  display: inline-block;
  margin-right: 1.3em;
  transform: translateY(3.05em);
  margin-top: 1.2em;
}
.full-verse {
  transform: translateY(3.05em);
  margin: 8px 0 0 15px;
  font-size: 1.5em;
}
