.title-portion {
  font-size: 1.6em;
  font-weight: 300;
  display: inline-block;
  transform: translateY(4px);
  margin: 0 14px 10px 0;
}

.portion-header{
  position: relative;

  .options-btn {
    position: absolute;
    top: 10px;
    right: 3px;
    background-color: #7b9e72;
    border-radius: 10px;
    height: 31px;
  }
}

.small-icons-wrapper {
  background-color: #c2e2ba;
}

app-verse {
  display: block;
  margin-bottom: 1px;
}

app-portion-selector {
  display: inline-block;
  margin-left: 20px;
}

.passage-title {
  background-color: #38ff0933;
}

.loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: url(../../assets/loader.gif);
  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  opacity: .8;
}

.empty-btn {
  font-size: 12px;
  height: 23px;
  vertical-align: middle;
  line-height: 10px;
}

.extra-space {
  padding: 7px 6px 7px 0;
}