<div *ngIf="isLoadingView" class="loading-wrapper"></div>
<div *ngIf="config$ | async as config" class="container-fluid">
  <div class="row passage-title">
    <div class="col-6 text-left"><div class="title-portion">{{passage}}</div></div>
    <div class="col-6 text-right">
        <button [ngClass]="{'extra-margin': !config.showAdvancedMode}" class="btn btn-outline-dark empty-btn" (click)="emptyPortion(passage)">🗑 Quitar pasaje</button>
        <app-portion-selector (passageSelected)="onSelectedPassage($event)" *ngIf="config.showAdvancedMode && passageSelection" [txtLabel]="'Cambiar:'" [passageSelection]="passageSelection"></app-portion-selector>
    </div>
  </div>
</div>
<app-verse *ngFor="let verse of verses" [verse]="verse"></app-verse>