<div class="search-controls-block" [ngClass]="{'from-main-app': isMainSelector}">
  <!-- <span class="selection-description">{{txtLabel}}</span> -->
  

  <!-- <span *ngIf="isMainSelector" class="plus-sign">⊕</span> -->
  <!-- <select class="book-selected" [(ngModel)]="bookselected" (ngModelChange)="onChangeBook()">
    <option *ngFor="let item of listBooks" [selected]="bookselected == item.val" [value]="item.val">{{item.name}}</option>
  </select> -->

  <button mat-stroked-button color="accent" [ngClass]="{'btn-no-main-selector': !isMainSelector, 'btn-main-selector': isMainSelector}"
    (click)="openSelection(passageContent)">{{currentLabelBookVersesButton}}</button>
</div>

<ng-template #passageContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seleccionar pasaje a cargar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="list-of-books">
        <b>Libro:</b>
        <select class="book-selected" [(ngModel)]="bookselected" (ngModelChange)="onChangeBook()">
          <option *ngFor="let item of listBooks" [selected]="bookselected == item.val" [value]="item.val">{{item.name}}</option>
        </select>          
      </div>
      <div class="list-of-chapters">
        <b>Capítulos:</b>
        <div class="chapters">
          <button [ngClass]="{'btn-outline-info': currentChapterHighlight != chapterSelected, 'btn-info': currentChapterHighlight == chapterSelected}"
                *ngFor="let chapterSelected of objectKeys(currentBookVersesSelection)"
                (click)="showVersesOfChapter(currentBookVersesSelection[chapterSelected], chapterSelected)"
                class="btn chapter">{{chapterSelected}}</button>
        </div>
        <hr />
        <div *ngIf="currentVerses" class="verses">
          <b>Versículos:</b> <span class="extra-info"> (<b>Click</b> para seleccionar un versículo. <b>Arrastrar</b> para seleccionar dos o más versículos)</span>
          <div>
            <button [ngClass]="{'btn-outline-info': !currentVerseHighlight[i+1], 'btn-info': currentVerseHighlight[i+1]}"
                  *ngFor="let item of arrayOne(currentVerses); let i = index;"
                  (mousedown)="selectIniVerses(i+1)"
                  (mouseover)="showDragButtons(i+1)"
                  (mouseup)="selectEndVerses(i+1)"
                  class="btn verse">{{i+1}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="cancelLoadPortion(); modal.close()">Cancelar</button>
    <button type="button"
        class="btn btn-success"
        (click)="updateAndLoadPortion(); modal.close()"
        [disabled]="!currentPortionToBeLoaded">Cargar pasaje</button>
  </div>
</ng-template>