// -- select and button to open modal selector
.selection-description {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.search-controls-block {

  // margin: 3px 6px;
  display: inline-block;

  .plus-sign {
    vertical-align: middle;
    font-size: 29px;
    margin-top: -3px;
    margin-right: 4px;
    display: inline-block;    
  }

  .btn-main-selector {
    width: 95%;
  }

  .btn-no-main-selector {
    background-color: #aae41f;
    color: #333;
    font-size: 1em;
    font-weight: 400;
  }

  .book-selected {
    vertical-align: middle;
    font-size: 14px;
    width: 140px;
    height: 23px;
  }

}

.search-controls-block.from-main-app {
  display: block;

}

// -- select verses modal
.list-of-books {
  select {
    margin-left: 10px;
  }
  margin-bottom: 10px;
}
.list-of-chapters {

  .chapters {

    .chapter {
      margin: 2px 4px;
      font-size: 12px;
    }

  }

  .verses {

    .extra-info {
      color: #888;
      font-size: 15px;
    }

    .verse {
      margin: 2px 4px;
      font-size: 12px;
    }
  }
}