@import '~bootstrap/dist/css/bootstrap.min.css';
// @import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');

.greek-font{
  font-family: 'Alegreya', serif !important;
  // background-color: #fdd;
  // border-radius: 18px;
  // padding: 0px 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
